@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

/* navbar-section */

.nav-container {
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}
.nav-container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.nav-container-text p {
  font-size: 45px;
  font-weight: 700;  
}
.nav-container-text span {
  color: #ff42a5;
}
.nav-container-text-iconbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.nav-container-text-group-iconbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border-radius: 6px;
  background-color: rgba(11, 2, 35, 0.1);
}
a {
  text-decoration: none;
  color: #3C354F;
  font-size: 15px;
  font-weight: 500;
}

/* navbar-section-end */

/* responsive for mobile */

@media screen and (max-width: 445px) {
    .nav-container {
        flex-direction: column;
        gap: 45px;
        margin-top: 10px;
      }
    .nav-container-text-iconbar {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 10px;
      }
}

/* responsive for tablet */

@media screen and (min-width: 446px) and (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        gap: 50px;
        margin-top: 15px;
      }
    .nav-container-text-iconbar {
        margin-bottom: 15px;
        gap: 50px;
      }
}